.back {
    position: absolute;
    margin-left: 80%;
}

.back button {
    height: 50px;
    width: 80px;
    border: 2px solid #222831a1;
    border-radius: 10px;
    background-color: #fcda05;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: 0.5s;
}
.back button:hover {
    transition: 0.5s;
    height: 60px;
        background-color: #ffeb6b;
}

.back button:active {
    transition: 0s;
background: rgb(52, 52, 52);
color: white;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 30px;
}
.containerForm {
    background-color: #222831a1;
    width: 400px;
    border-radius: 10px;
    border: 6px solid #222831;
}

/*Estilos para el componente Show*/
.containerShow h3{
    text-align: center;
}
.containerShow {
    width: 500px;
    height: max-content;
    border-radius: 15px;
    margin-left: 20%;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    background-image: url(./img/create2.jpg);
    background-size: cover;
    border: 6px solid #fffbe0;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.containerImgShow{
    display: flex;
    justify-content: center;
}
.showText {
    transition: 0.5s;
    border: 4px solid #fffbe0;
    margin: auto;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 80px;
    height: 75%;
    margin-top: 90px;
    color: #fcda05;
    text-transform: uppercase;
    cursor: default;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.showText h1 {
    text-align: center;
}
.showText h1:hover{
    transition: 0.5s;
    font-weight: bolder;
    text-shadow: 2px 2px 5px #f6e3679a;
}
.showText img {
    transition: 0.5s;
    border-radius: 10px;
    width: 80%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.showText img:hover {
    transition: 0.5s;
    height: 225px;
}
.showDiets {
    border: 2px solid #fffbe0;
    background-color: #393e4683;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: max-content;
    margin-bottom: 10px;

}
/* ESTILOS A CADA INPUT */

.danger {
    font: 14px;
    font-weight: bold;
    color: rgb(252, 63, 63);
}

.styleLabel {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: #fcda05;
    margin-top: 10px;
    margin-bottom: 10px;
}

.styleName {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.styleName input {
    width: 80%;
    height: 25px;
    font-size: 16px;
    background-color: #fffbe0;
    text-transform: capitalize;
    border: 2px solid#fcda05;
    border-radius: 10px;
}

.styleSummary {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.styleSummary textarea {
    margin: auto;
    font-size: 16px;
    text-transform: uppercase;
    border: 2px solid#fcda05;
    background-color: #fffbe0;
    padding: 10px;
    border-radius: 15px 0 15px 0;
    resize:none;
    width: 80%;
    height: 400px;
}

.containerImageInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.containerImageInput input {
    width: 90%;
    height: 25px;
    font-size: 16px;
    background-color: #fffbe0;
    border: 2px solid#fcda05;
    border-radius: 10px;
}
/* ESTILOS PARA LOS PASOS*/
.containerSteps {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.containerSteps textarea {
    margin: auto;
    font-size: 16px;
    text-transform: uppercase;
    border: 2px solid#fcda05;
    background-color: #fffbe0;
    padding: 10px;
    border-radius: 0px 15px 0px 15px;
    resize:none;
    width: 80%;
    height: 400px;
}

/* ESTILOS PARA LAS DIETAS */
.containerDiets {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.containerDiets div {
    border: 2px solid #fffbe096;
    border-radius: 10px;
    width: 60%;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 225px;
}
.styleTextDiet {
    transition: 0.2s;
    font-size: 16px;
    text-transform: capitalize;
    color: #fcda05;
    font-weight: bold;
}
.styleTextDiet:hover{
    transition: 0.2s;
    font-size: 18px;
        text-shadow: 2px 2px 5px #f6e3679a;
}
.checkStyle {
    width: 30px;
}

/* ESTILOS PRAA EL BOTON DE CREAR */
.containerButtonCreate {
    height: 150px;
    padding-top: 25px;
    display: flex;
    justify-content: center;
}
.buttonSubmit {
    transition: 0.5s;
    font-size: 18px;
    border: #fffbe0;
    border-radius: 10px;
    background-color: #fcda05;
    width: 150px;
    height: 30px;
}
.buttonSubmit:hover{
    transition: 0.5;
    width: 200px;
    height: 35px;
}

.buttonSubmit:active {
    transition: 0s;
background: rgb(52, 52, 52);
color: white;
border: 1px solid #fcda05;
}

/* POR SI HAY ERROR EN LA API O ALGO */
.avisos {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

/* DEBAJO ESTA TODO EL ESTILO DEL RANGE, ES MUY EXTENSO EL CODIGO*/
.styleRange {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: #fcda05;
}
.containerRange {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
/*////////////*/
input[type=range] {
    height: 38px;
    background: none;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 80%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #fcda05;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #393E46;
    border: 1px solid #222831;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFBE0;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fcda05;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #fcda05;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #393E46;
    border: 1px solid #222831;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFBE0;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #fcda05;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #fcda05;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #393E46;
    border: 1px solid #222831;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFBE0;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #fcda05;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #fcda05;
  }
  