.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    overflow-x: hidden;
    box-sizing: border-box;
}
.containerFilter{
    border: 6px solid #fffbe0;
    border-radius: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerBorder{
    border:2px solid #fcda05;
    border-radius: 10px;
    background-color: #2228319f;
    width: 100%;
}
.containerHome {
    width: 80%;
    overflow-x: hidden;
    box-sizing: border-box;
}