
.container {
    margin: auto;
}
.styleInput {
    height: 32px;
    width: 300px;
    color: #393e46;
    padding-left: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border-top: 1px solid #fcda05;
    border-left: 1px solid #fcda05;;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px 0px 0px 0;
    background-color: #fff;
    overflow: hidden;
}
.styleInput input[type="text"] {
    width: 90%;
    padding: 8px 0 12px 1em;
    color: #333;
    outline: none;
    }
.styleButton {
    transition: 0.5s;
    top: 0;
    right: 0;
    height: 35px;
    width: 80px;
    font-size: 16px;
    color: #222831;
    text-align: center;
    line-height: 4px;
    border-width: 0;
    background-color: #fffbe0;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 15px 5px 0px;
    cursor: pointer;
    font-weight: bold;
}
.styleButton:hover{
    transition: 0.5s;
    background-color: #fcda05;
}