.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.buttonStyle {
    width: 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: #fcda05;
    border:2px solid #393e46;
    height: 28px;
    border-radius: 5px;
    margin: 2px;
    box-shadow:0px 10px 8px 3px rgba(0,0,0,0.75);
}

.buttonStyle:hover{
    transform: scale(1.1);
}

.buttonStyle:focus{
    transition: 0.2s;
    width: 38px;
    height: 35px;
    font-size: 17px;
}


.buttonStyle:active{
    width: 38px;
    height: 35px;
    font-size: 17px;
    color: #fcda05;
    background-color: #393e46;
    border:2px solid #fcda05;
}

.stylePrevNext {
    transition: 0.2s;
    cursor: pointer;
    width: 25px;
    font-size: 9px;
    font-weight: bold;
    background-color: #fcda05;
    border:2px solid #393e46;
    height: 28px;
    border-radius: 20px;
    margin: 2px;
    box-shadow:0px 10px 8px 3px rgba(0,0,0,0.75);
}

.container div {
    width: 50%;
}

.stylePrevNext:focus{
    background-color: #ffef86;
}
