.containerCards {
    margin: auto;
    width: 90%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.back {
    width: 100%;
}
.back button {
    margin-left: 5%;
    margin-top: 5px;
    height: 50px;
    width: 80px;
    border: 2px solid #222831a1;
    border-radius: 10px;
    background-color: #fcda05;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: 0.5s;
}
.back button:hover {
    transition: 0.5s;
    background-color: #ffeb6b;
}

.back button:active {
    transition: 0s;
background: rgb(52, 52, 52);
color: white;
}



.warningRecipe {
    font-size: 30px;
    color: gold;
    margin-top: 15%;
    text-align: center;
}

.containerWanringRecipe{
    border: 3px solid #4b4d4fb9;
    background-color: #222831b9;
    border-radius: 40px;
    margin: auto;
    width: 50%;
    height: 40vh;
}

.warningGo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warningGo span {
    color: gold;
    font-size: 22px;
    font-weight: bold;
}

.warningGo button {
    margin-top: 4px;
    height: 30px;
    width: 50px;
    border: 2px solid #222831a1;
    border-radius: 5px;
    background-color: #fcda05;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: 0.5s;
}

.warningGo button:hover {
    transition: 0.5s;
    height: 35px;
    width: 55px;
    background-color: #fae76b;
}

.warningGo button:active {
    transition: 0s;
background: rgb(52, 52, 52);
color: white;
}